if SHIELD_VELVET3_LEFT

config ZMK_KEYBOARD_NAME
    default "ERGOHAVEN Velvet"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VELVET3_LEFT || SHIELD_VELVET3_RIGHT

config ZMK_SPLIT
    default y

endif
