if SHIELD_VELVET_V3_UI_LEFT

config ZMK_KEYBOARD_NAME
    default "Velvet_v3_UI"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VELVET_V3_UI_LEFT || SHIELD_VELVET_V3_UI_RIGHT

config ZMK_SPLIT
    default y

endif
